openapi: 3.2.0
info:
  contact:
    name: Instock
    email: info@instock.com
    url: https://instock.com
  license:
    name: Instock
    url: https://instock.com
  title: Instock API reference Ordertasks API
  version: 0.1.0
  description: '# Overview

    This reference is a comprehensive guide to understanding of Instock API and is aimed to

    help developers to integrate their Host system with Instock Cloud (Incloud).'
servers:
- url: https://api.instock.com/v1
security:
- bearerAuth: []
tags:
- name: Ordertasks
  description: Fulfillment of orders by associates and ASRS is split into chunks called `ordertasks`.
paths:
  /{site_id}/ordertasks/{ordertask_id}:
    get:
      tags:
      - Ordertasks
      summary: Retrieve ordertask
      description: 'Retrieves a single ordertask.


        Requires `ordertask_id`, which can be retrieved via order status retrieval and is

        available only when order status is `reserved`, `done` or `canceled`.'
      operationId: getOrderTask
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: 'curl -X GET ''https://api.instock.com/v1/{SITE_ID}/ordertasks/{TASK_ID}'' \

          -H ''Authorization: Bearer {ACCESS_TOKEN}''

          '
      parameters:
      - $ref: '#/components/parameters/instockCorrelationID'
      - $ref: '#/components/parameters/siteID'
      - $ref: '#/components/parameters/orderTaskID'
      responses:
        '200':
          description: Successful operation
          headers:
            Instock-Response-ID:
              $ref: '#/components/headers/instockRequestID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orderTask'
              examples:
                Order task with multiple lines:
                  $ref: '#/components/examples/orderTaskWithSeveralLines'
        '400':
          description: Bad request
          headers:
            Instock-Response-ID:
              $ref: '#/components/headers/instockRequestID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                Bad request:
                  value:
                    code: bad_request
                    message: Request body/path/query params cannot be validated.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Not found
          headers:
            Instock-Response-ID:
              $ref: '#/components/headers/instockRequestID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                Site doesn't exist:
                  value:
                    code: resource_not_found
                    message: site_id doesn't exist.
                Ordertask doesn't exist:
                  value:
                    code: resource_not_found
                    message: ordertask_id doesn't exist.
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  schemas:
    orderId:
      type: string
      description: ID of an order. Unique in scope of your organization(s).
      pattern: ^[a-zA-Z0-9_+.:-]+$
      minLength: 1
      maxLength: 128
    toCellId:
      type: string
      description: ID of the target storage cell to which a specific article moved.
      minLength: 1
      maxLength: 1024
      example: VM-TIY6J-P001
    Error:
      type: object
      properties:
        code:
          description: Code that identifies the reason of an error.
          type: string
        message:
          description: Description of an error.
          type: string
    orderTask:
      type: object
      properties:
        org_id:
          type: string
          description: ID of an organization. Globally unique.
        site_id:
          type: string
          description: ID of Instock site. Globally unique.
        order_id:
          $ref: '#/components/schemas/orderId'
        ordertask_id:
          type: string
          description: ID of an order task. Unique in scope of your organization(s).
        ordertask_status:
          type: string
          enum:
          - reserved
          - done
          - canceled
          description: 'Ordertask statuses.

            * `reserved` - ordertask is in progress

            * `done` - ordertask has been completed

            * `canceled` - ordertask has been canceled

            '
        lines:
          description: List of lines within an order.
          type: array
          items:
            type: object
            properties:
              line_id:
                $ref: '#/components/schemas/lineId'
              article_id:
                $ref: '#/components/schemas/articleId'
              to_cells:
                description: List of target storage cells within a single line.
                type: array
                items:
                  type: object
                  properties:
                    to_cell_id:
                      $ref: '#/components/schemas/toCellId'
                    qty:
                      type: integer
                      description: Quantity of items of a specific article within specific target storage cell.
    lineId:
      type: string
      description: ID of an order line. Unique in scope of your organization(s).
      pattern: ^[a-zA-Z0-9_+.:-]+$
      minLength: 1
      maxLength: 128
    siteId:
      type: string
      description: ID of Instock site. Globally unique.
    articleId:
      type: string
      description: ID of an article. Unique in scope of your organization(s).
      pattern: ^[a-zA-Z0-9_+.]+$
  responses:
    InternalServerError:
      description: Internal server error
      headers:
        Instock-Response-ID:
          $ref: '#/components/headers/instockRequestID'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: internal_server_error
            message: Unexpected error occurred.
    Unauthorized:
      description: Unauthorized
      headers:
        Instock-Response-ID:
          $ref: '#/components/headers/instockRequestID'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: unauthorized
            message: API key is not valid.
    Forbidden:
      description: Forbidden
      headers:
        Instock-Response-ID:
          $ref: '#/components/headers/instockRequestID'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: forbidden
            message: API key doesn't have permissions to perform the request.
  parameters:
    instockCorrelationID:
      name: Instock-Correlation-ID
      description: Optional header ID to track and analyze requests and behaviors across your Host system.
      in: header
      required: false
      schema:
        type: string
    orderTaskID:
      name: ordertask_id
      in: path
      description: ID of an order task. Unique in scope of your organization(s).
      required: true
      schema:
        type: string
      example: ot0001
    siteID:
      name: site_id
      in: path
      required: true
      description: ID of Instock site. Globally unique.
      schema:
        $ref: '#/components/schemas/siteId'
      example: 1.1.0-1
  headers:
    instockRequestID:
      description: Auto-generated ID in the response headers to reference a specific request, useful for debugging or seeking support.
      schema:
        type: string
  examples:
    orderTaskWithSeveralLines:
      value:
        org_id: org_id_001
        site_id: 1.1.0-1
        order_id: '00132456'
        ordertask_id: ot0001
        ordertask_status: reserved
        lines:
        - line_id: 00132456-1
          article_id: '116000487727'
          to_cells:
          - to_cell_id: c001
            qty: 4
          - to_cell_id: c002
            qty: 6
        - line_id: 00132456-2
          article_id: '1003000031678'
          to_cells:
          - to_cell_id: c003
            qty: 3
          - to_cell_id: c004
            qty: 1
  securitySchemes:
    bearerAuth:
      bearerFormat: JWT
      type: http
      scheme: bearer
